body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: separate;
  border-spacing: 50px 0;
}
td {
  padding: 3px 20px;
}
